[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
django = "*"
django-bootstrap-v5 = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
